* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #212529;
}
.app {
  margin-left: 35rem;
  margin-top: 15rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
}

.box {
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid #adb5bd;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  color: white;
}
.box span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.1rem;
  margin-top: 0.2rem;
  font-size: 3rem;
  text-transform: uppercase;
}
